/* fonts */
@font-face {
    font-family:Trebuchet MS;
    src: url('../fonts/TrebuchetMS.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: 'gothic';
	src: url('../fonts/gothic.eot');
	src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}

/* Settings */
.row, .col-md-12, .col-md-6, .col-md-3, .col-md-2, .col-sm-2, .col-md-10, .col-sm-10, .col-md-5, .col-md-7, .col-md-8 {
        margin: 0;
        padding: 0;
}
ol, ul, li {
	margin: 0;
	padding: 0;

}
body {
    margin: 0 auto;
    max-width: 100%;
    font-family: "gothic";
}
.container {
    max-width: 932px;
    margin: 0 auto;
    padding: 0;
}

/* Header CSS */
.navbar-toggle {
    margin-bottom: 0;
    margin-right: 40px;
    margin-top: -63px;
    padding: 10px 15px;
}
.navbar-toggle .icon-bar {
    background-color: #a1a4a7;
    height: 2px;
    margin-bottom: 5px;
    width: 29px;
}
.top-menu .navbar-toggle {
    display: none;
}
.header-container .logo img {
    padding-top: 9px;
}
.middle-fix a {
    position: relative;
    top:7px;
}
.logo {
    padding-bottom: 26px;
}
.top-menu {
    float: right;
    margin-top: -66px;
    padding-left: 0;
    padding-right: 97px;
}
.top-menu ul {
    list-style: none outside none;
}
.top-menu li {
    background-color: #a1a4a7;
    display: inline-block;
    float: left;
    min-height: 40px;
    line-height: 14px;
    margin-right: 20px;
    padding: 6px;
    text-align: center;
    width: 100px;
}
.top-menu li:last-child {
    margin: 0;
    background-color: #f11d1a;
}
.top-menu a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: "gothic";
}

/* Header ends */

/* Middle content */

section.main-content {
    background-color: #f3f3f4;
}
.left-text > p {
    color: #666666;
    font-family: gothic;
    font-size: 18px;
}
.left-text {
    padding-top: 50px;
}
.middle-images > img {
    padding-left: 36px;
    padding-top: 50px;
}
.middle-txt-underImages p {
    color: #666666;
    font-family: gothic;
    font-size: 15px;
    padding-left: 41px;
    padding-top: 27px;
}
.middle-txt-underImages {
    padding-bottom: 256px;
}

/* Middle content ends */

/* Footer */

section.footer-section {
    background-color: #eaeaea;
    border-top: 1px solid #ffffff;
}
footer h3 {
    font-size: 19px;
    padding-left: 4px;
    color: white;
}
.footer-menu {
    padding-bottom: 15px;
}
.footer-menu > ul {
    padding-top: 23px;
}
.footer-menu li {
    list-style: none outside none;
    margin-bottom: 4px;
    width: 121px;
    display: inline-block;
}
.footer-menu li a {
    color: #666666;
    padding-left: 5px;
    font-size: 19px;
    text-decoration: underline;
    font-family: "gothic";
}
footer p {
    color: #666666;
    float: right;
    font-size: 13px;
    margin-top: -24px;
    padding-right: 31px;
    font-family: "gothic";
}
.col-md-6.fix {
    display: inline-flex;
}
.footer-contact {
    width: 53%;
}
.footer-contact a {
    color: white;
    text-decoration: none;
}
.twitter-title h3 {
    color: #666666;
    font-family: gothic;
    font-size: 22px;
}
.twitter-title img {
    padding-left: 10px;
}
.twitter-title {
    float: left;
}
.twitter-posts {
    background-color: #666666;
    color: white;
    float: right;
    font-size: 20px;
    height: 112px;
    margin-top: 20px;
    width: 72%;
    padding-left: 41px;
    padding-top: 46px;
}

/* Footer ends */

/* Registration Page CSS */

.gray-background {
    background-color: #a1a4a7;
}
.gray-background p {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.main-content .login-form h4 {
    color: #666666;
    font-size: 15px;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login-form .form-group {
    margin-bottom: 5px;
}
.login-form .form-group label {
    color:#666666;
    font-weight: normal;
}
.login-form .btn-default {
    background-color: #f31d1d;
    color: white;
    margin-top: 15px;
    margin-bottom: 39px;
    margin-right: 27.9%;
    float: right;
}
.login-form .btn {
    padding: 5px 29px;
    font-size: 12px;
    border-radius: 0;
    border: none;
}
section.main-content.registration-page {
    background-color: #ffffff;
}
.right-box > h3, .right-box p, .right-box li {
    color: white;
}
.right-box {
    background-color: #0081ad;
    margin-left: 68px;
    margin-top: 22px;
    max-width: 305px;
    padding: 8px 10px 13px 8px;
}
.right-box > h3 {
    font-size: 17px;
    margin: 0 0 17px;
}
.right-box li {
    font-size: 12px;
    list-style: disc outside url("../images/star.png");
}
.right-box > ul {
    padding-left: 11px;
}
.right-box p {
    font-size: 12px;
    margin: 0;
}
.form-group {
    width: 73%;
}

/* Registration page ends */

/* Login page */

.login-form > p {
    float: left;
    margin-top: 22px;
}
.login-form > p:last-child {
    margin-top: 0px;
}
.login-page .btn-default {
    margin-bottom: 18px;
}
section.main-content.login-page {
    background-color: #ffffff;
}
.login-footer.footer-menu {
    padding-bottom: 58px;
}
.main-content.login-page .login-form .btn-default {
    display: none;
}
section.main-content.login-page .right-box > h3, section.main-content.login-page  .right-box p, section.main-content.login-page  .right-box li {
    color: #666666;
}
.main-content.login-page .right-box {
    background-color: transparent;
    margin-left: 29px;
    max-width: 100%;
}
.login-page p.top-space {
    margin-top: 20px;
}
.right-box .col-md-6 > img {
    float: left;
    margin-right: 6px;
}
.right-box .col-md-6 > p {
    float: right;
    width: 70.8%;
}
.col-md-6.width-fix p {
    padding-right: 34px;
    width: 70%;
}
.right-img-text .col-md-6 {
    padding-bottom: 20px;
}
.right-img-text {
    padding-top: 20px;
}
/* end of login-page */

/* Toolkit-page css */

.gray-background.toolkit-background {
    background-color: #0081ad;
    display: none;
}
.gray-background.toolkit-background.open {
    display: block;
}
.list h4 {
    color: white;
    font-size: 14px;
}
.list li {
    list-style: none outside none;
    line-height: 16px;
}
.list a {
    color: white;
    font-size: 12px;
    padding-left: 5px;
}
.list > ul {
    margin-bottom: 15px;
}
.toolkit-page .headline > h3 {
    color: #666666;
    font-size: 14px;
    margin-top: 11px;
    font-weight: bold;
}
.toolkit-page .headline > p {
    color: #666666;
    font-size: 14px;
}
.col-md-3.icons {
    text-align: center;
    width: 20.5%;
}
section.main-content.toolkit-page {
    background-color: #ffffff;
    min-height: 572px;
}
.col-md-3.icons {
    margin-top: 25px;
}
.col-md-3.icons p {
    color: #666666;
    font-size: 14px;
    padding-top: 18px;
}
.col-md-3.icons.position-fix p {
    padding-top: 31px;
}
.top-menu li.login-active {
    background-color: #0081ad;
    min-height: 58px;
}
.col-md-3.icons .btn.btn-primary.btn-lg {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
.panel-group {
    display: none;
}
.modal-main-content p, .modal-main-content ul li {
    color: #666666;
    font-size: 14px;
}
.modal-main-content h4 {
    font-weight:bold;
    font-size: 14px;
    color: #666666;
}
.modal-main-content, .modal-header {
    text-align: left;
}
.modal-header {
    background-color: #a1a4a7;
    border: medium none;
    padding: 18px 0 0 20px;
}
.modal-header > h4 {
    color: white;
    font-size: 18px;
    margin-top: -5px;
    padding-bottom: 10px;
}
.modal-dialog {
    margin: 400px auto !important;
    width: 100%;
    max-width: 932px;
}
.modal-body {
    padding: 1px 20px 20px;
    min-height: 476px;
}
.modal-footer {
    background-color: #a1a4a7;
}
.modal-footer .col-md-2 a img {
    float: left;
}
.modal-footer .col-md-2 > p {
    color: white;
    float: left;
    margin-left: 8px;
    margin-top: 5px;
    opacity: 0.66;
    padding: 0 !important;
}
.close {
    border: none;
    opacity: 1;
}
.modal-header .close {
    margin-top: -10px;
}
.sr-only {
    color: white;
    font-size: 13px;
    margin: 0 11px;
    opacity: 0.69;
    position: relative;
}
.modal-content {
    background-color: #cccccc;
    min-height: 620px;
}
.modal-main-content li {
    background-image: url("../images/modal-dot.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    list-style: none outside none;
    padding-left: 20px;
}
.modal-footer .col-md-3.icons.position-fix p {
    padding-top: 0;
}
.modal-main-content > ul {
    padding-left: 16px;
}
.gray-background.toolkit-header .col-md-6 > h4 {
    color: white;
}
.gray-background.toolkit-header .col-md-2 a p {
    line-height: 16px;
    padding: 0;
}
.gray-background.toolkit-header .col-md-2 a:hover {
    text-decoration: none;
}
.gray-background.toolkit-header .col-md-2 a img {
    float: left;
    margin-right: 10px;
}
.gray-background.toolkit-header .col-md-2 {
    padding-top: 10px;
    margin-left: -16px;
    padding-left: 29px;
    padding-top: 10px;
}
.headline {
    padding-top: 21px;
}

/* Media queries */

@media (max-width: 991px) {
    .top-menu {
        padding-left: 0px;
        padding-right: 0px;
    }
    .top-menu li {
        margin-right: 9px;
        width: 94px;
    }
    .middle-txt-underImages, .middle-images {
        text-align: center;
    }
    .contact-header-information {
        padding-right: 55px;
    }
    .list a {
        padding-left: 0;
    }
    .footer-menu li {
        width: 97px;
    }
    .right-box .col-xs-12.col-sm-12.col-md-6 > p, .right-box .col-xs-12.col-sm-12.col-md-6.width-fix > p {
        width: 80%;
        padding-right: 0;
    }
    .right-box .col-md-6 {
        float: left;
    }
    .menu-fix {
        width: 20%;
    }
}
@media (max-width: 768px) {
    .footer-menu li {
        display: inline;
        margin-right: 34px;
        width: 95%;
    }
    .footer-contact h3 {
        padding-left: 0;
    }
    .left-text > p {
        padding-left: 20px;
    }
    .footer-contact {
        padding-left: 10px;
        padding-right: 31px;
        width: auto;
    }
    .col-md-6.width-fix p {
        padding-right: 0;
    }
}
@media (max-width: 767px) and (min-width: 481px) {
    .top-menu > ul {
        padding-left: 20px;
    }
}
@media (max-width: 767px) {
    .top-menu {
        width: 100%;
        padding-top: 50px;
    }
    .logo {
        padding-left: 20px;
    }
    .top-menu li {
        float:none;
        display:block;
        width: 95%;
        text-align: left;
        min-height: unset;
        line-height: unset;
        margin-bottom: 2px;
    }
    .middle-fix a {
        top: 0;
    }
    .top-menu .navbar-toggle {
        display: block;
    }
    .top-menu > ul {
        padding-left: 20px;
        display:none;
    }
    .top-menu ul.open-menu {
        display:block;
    }
    .gray-background p {
        padding-left: 21px;
    }
    .login-form {
        padding-left: 21px;
    }
    .right-box {
        margin-left: 30px;
    }
    .headline {
        padding-left: 21px;
    }
    .col-md-3.icons {
        width: 24.5%;
    }
    .panel-group {
        display: block;
    }
    .gray-background.toolkit-background .col-xs-3.col-sm-3.col-md-3 {
        display: none;
    }
    .panel-default > .panel-heading {
        background-color: #0081ad;
    }
    .panel {
        background-color: transparent;
    }
    .panel-default {
        border: medium none transparent;
    }
    .panel-body {
        padding: 15px 15px 15px 21px;
    }
    .panel-title > a {
        color: white;
        font-size: 14px;
    }
    .panel-body a {
        color: white;
        font-size: 12px;
    }
    .panel-body li {
        list-style: none outside none;
    }
    .panel-heading {
        padding: 10px 21px;
    }
    .panel.panel-default {
        float: left;
        width: 50%;
    }
    .panel-group .panel + .panel {
        margin-top: 0;
    }
    .panel-default > .panel-heading + .panel-collapse .panel-body {
        border: none;
    }
    .footer-menu li {
        display: inline;
        margin-right: 4%;
    }
    .gray-background.toolkit-header .col-sm-5.col-md-6 > h4, .gray-background.toolkit-header .col-xs-4.col-sm-2.col-md-2 {
        padding-left: 21px;
    }
    .gray-background.toolkit-header .col-xs-12.col-sm-5.col-md-6 {
        text-align: center;
    }
    .menu-fix {
        width: 33.33%;
        padding-left: 21px;
    }
}
@media (max-width: 658px) {
    footer p {
        float: left;
        margin-top: 17px;
        padding-left: 5px;
    }
}
@media (max-width: 568px) {
    .footer-contact > p {
        font-size: 12px;
    }
    .middle-images > img, .middle-txt-underImages p {
        padding-left: 0;
    }
    .logo {
        padding-left: 21px;
    }
    .main-content.registration-page .col-xs-6.col-sm-6.col-md-6 {
        width: 100%;
    }
    .main-content.login-page .col-xs-6.col-sm-6.col-md-6 {
        width: 100%;
    }
    .main-content.login-page .login-form > p, .main-content.login-page .login-form .btn-default {
        float: none;
    }
    .right-box:last-child {
        margin-bottom: 29px;
    }
    .right-box {
        margin-left: 21px;
    }
    .twitter-posts {
        width: 100%;
    }
    .footer-menu > ul {
        padding-left:20px;
    }
    footer p {
        padding-left: 23px;
        margin-top: 30px;
    }
    .twitter-title {
        padding-left: 19px;
    }
    .right-box .col-md-6 > p {
        float: none;
        padding-left: 66px;
        width: 100%;
    }
}
@media (max-width: 480px) {
    footer .col-xs-4.col-sm-5.col-md-6 {
        width: 100%;
    }
    footer .col-xs-8.col-sm-7.col-md-6.fix {
        width: 100%;
    }
    .footer-contact {
        padding-left: 21px;
    }
    header .col-xs-3.col-sm-2.col-md-2, header .col-xs-9.col-sm-10.col-md-10 {
        width: 100%;
    }
    .top-menu, .headline {
        padding-left: 21px;
    }
    .col-md-3.icons {
        width: 50%;
    }
}
@media (max-width: 480px) and (min-width: 320px) {
    .top-menu > ul {
        padding-left: 0;
    }
    .navbar-toggle {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: -43px;
        padding: 10px 15px;
    }
}
@media (max-width: 447px) {
    .col-md-6.fix {
        display: block;
    }
    .modal-footer .col-xs-4.col-sm-3.col-md-2 {
        padding-bottom: 15px;
        text-align: center;
        width: 100%;
    }
    .modal-footer .col-md-2 a img, .modal-footer .col-md-2 p {
        float: none;
    }
    .gray-background.toolkit-header .col-xs-4.col-sm-2.col-md-2, .menu-fix {
        width: 100%;
    }
    .gray-background.toolkit-header .col-xs-4.col-sm-2.col-md-2, .menu-fix {
        padding-bottom: 15px;
    }
    .gray-background.toolkit-header .col-md-2 {
        padding-top: 0px;
    }
}
@media (max-width: 384px) {
    .logo {
        padding-left: 0;
    }
    .logo img {
        padding-left: 17px;
    }
    .contact-header-information {
        padding-right: 0;
    }
    .social-images, .con-info {
        float: none;
        text-align: center;
    }
    .panel.panel-default {
        float: none;
        width: 100%;
    }
}
